html, body {
  margin: 0;
  padding: 0;
  background-color: #fbfbfb; /* Less dark, very light gray */
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  height: 100%;
}

#root, #__next {
  height: 100%;
}